.task-details-container {
    background: #444;
    margin: 15px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: #eee;
    border-radius: 5px;
    align-items: center;
}

.task-details-container h2 {
    margin-bottom: 5px;
    color: rgb(127, 255, 0);
    

}

.back-button-container {
    
    width: auto;
    margin-top: 10px;
    
}